 body {
     margin: 0;
     max-width: 1080px;
     height: 100%;
     width: 100%;

 }





 h1 {
     font-size: 10vw;
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
     line-height: 0;
     position: fixed;
     /*     set the margin */
     right: 30px;
     top: 0;
 }

 h2 {
     font-size: 3vw;
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
     line-height: 1px;
     position: fixed;
     /*     set the position and strech the line*/
     right: 30px;
     top: 190px;
     letter-spacing: 20px;
 }

 /*float everything to the left*/

 div.lists {
     position: fixed;
     top: 260px;
     right: 30px;
     font-size: 2vw;
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
 }

 /*float inside the div.list*/

 div.exerciselist {
     padding-left: 35px;
     float: right;
 }

 div.projectlist {
     float: right;
 }

 img {
     position: fixed;
     height: 100%;
     top: 0;
     margin: 0;
     padding: 0;
     z-index: -1;
 }
